@using Weald
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="@Url.Content("~/favicon.ico")"/> />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    <title>Weald - @WebApiApplication.SvnServerHostname</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/dashboard.css")
    @Styles.Render("~/Content/jquery.dataTables.min.css")
    @Styles.Render("~/Content/Site.css")
  </head>
  <body id="Top">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="~/"><img src="~/Images/gray_logo.png" height="32" width="32" id="logo"> Weald</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Dashboard", "Index", "Home", new { area = "" }, null)</li>
            <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
          </ul>
        </div>
      </div>
    </div>
    @RenderBody()
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          Weald is &copy; 2014 <a href="http://www.devopsonwindows.com" target="_blank">DevOps On Windows</a>.
          Forest icon made by <a href="http://www.freepik.com" alt="Freepik.com" title="Freepik.com">Freepik</a>
          from <a href="http://www.flaticon.com/free-icon/trees-forest-with-leaf-shape_32502" title="Flaticon">www.flaticon.com</a>
        </div>
      </div>
    </div>
    @Scripts.Render("~/Scripts/jquery-1.11.1.min.js")
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/Chart.min.js")
    @Scripts.Render("~/Scripts/weald.js")
    @RenderSection("scripts", false)
  </body>
</html>
